<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <DBType>MariaDB</DBType>
  <CompanyName>公司名称</CompanyName>
  <SiteName>乐克商城</SiteName>
  <DoMain>
    <![CDATA[http://cw.com]]>
  </DoMain>
  <SiteFooterInfo>
    <![CDATA[乐克商城 loc-mall.com ]]>
  </SiteFooterInfo>
  <Email>
    <Host>smtp.ym.163.com</Host>
    <Account>admin@xxx.com</Account>
    <Password>xxx</Password>
    <!--邮件发送模板-->
    <Template>
      <![CDATA[
            <style type='text/css'>
                #divBody {
                width:100%;
                }
                #divSender {
                display:inline-block;
                float:right;
                margin-right:50px;
                text-align:center;
                }

                span {
                display:block;
                margin-top:30px;
                }

                    span:last-child {
                        margin-top: 10px;
                    }
            </style>

            <div id='divBody'>
                <div id='divContent'>$[MailContent]</div>
                <div id='divSender'>
                    <span><a href='$[SiteUrl]'>$[SiteName]</a></span>
                    <span >$[SendTime]</span>
                </div>
            </div>
      ]]>

    </Template>
  </Email>
  <!--热线电话配置路径-->
  <HotLine>400-679-1920</HotLine>
  <!--短信发送接口配置-->
  <SMSAPI>
    <![CDATA[http://sms.pica.com/zqhdServer/sendSMS.jsp?regcode=ZXHD-CRM-0100-RIUVLM&pwd=02facc23dbf4d4716b40471c5ea533b6&phone=$TOPHONE&content=$CONTENT&extnum=&level=1&schtime=&reportflag=1&url=url&smstype=0]]>
  </SMSAPI>
  <Page>
    <PageSize>9</PageSize>
  </Page>
  <API>
    <IPQuery><![CDATA[http://www.ip.cn/index.php?ip=]]></IPQuery>
  </API>
  <Image>
    <!--图片上传的根路径-->
    <UpLoadPath>
      <![CDATA[~/ImageUpload]]>
    </UpLoadPath>
    <CachePath>
      <![CDATA[~/ImageCache]]>
    </CachePath>
  </Image>
  <Notify>
    <ExceptionNotifyEmail>123456789@qq.com</ExceptionNotifyEmail>
  </Notify>
  <SystemID><![CDATA[122762c7-dca0-42e2-ad60-b5d328a67e8b]]></SystemID>
  <CacheFilePath><![CDATA[~/CacheFile]]></CacheFilePath>
  <Limit>
    <!--IP白名单,被配置的IP在发送邮件和短信时,不受发送次数的限制-->
    <IPWhiteList>
      <IP>127.0.0.1</IP>
      <IP>127.0.0.2</IP>
      <IP>127.0.0.3</IP>
      <IP>127.0.0.4</IP>
    </IPWhiteList>
    <!--同一IP24小时内可以调用系统发送多少封邮件-->
    <MaxMailSendCount>10</MaxMailSendCount>
    <!--同一IP24小时内可以调用系统发送多少条短信-->
    <MaxSMSSendCount>5</MaxSMSSendCount>
  </Limit>
  <Ex>
    <!--普通用户协议存放的文件路径-->
    <GenUserProtocolFilePath><![CDATA[~/GenUserProtocol.txt]]></GenUserProtocolFilePath>
    <!--商家用户协议存放的文件路径-->
    <ShopUserProtocolFilePath><![CDATA[~/ShopUserProtocol.txt]]></ShopUserProtocolFilePath>
    <!--推广链接-->
    <DiffuseURL><![CDATA[推广链接]]></DiffuseURL>
    <!--公共子串长度,当两个字符串求出的公共子串长度大于等于此长度时,视为它们相似-->
    <SubStringLength>3</SubStringLength>
    <!--订单编号前缀,以城市编号作为前缀,每个城市一台服务器-->
    <OrderNOPrefix>5301</OrderNOPrefix>
    <SIDQueryURL><![CDATA[http://api.com/UserAPI/GetTime]]></SIDQueryURL>
    <SSOSites>

      <SSOURL><![CDATA[http://cw.com/Processer.ashx?action=syncsid&sID=]]></SSOURL>
      <SSOURL><![CDATA[http://imginapi.com/image/syncSid?sID=]]></SSOURL>
      <SSOURL><![CDATA[http://api.com/UserAPI/syncSid?sID=]]></SSOURL>

    </SSOSites>
    <LoginTargetURL>
      <!--普通用户-->
      <TargetURL UserType="0" TargetURL="http://cw.com/" />
      <!--商家用户-->
      <TargetURL UserType="1" TargetURL="http://cw.com/ShopUser/Index.aspx" />
      <!--后台用户-->
      <TargetURL UserType="2" TargetURL="http://cw.com/PlatformUser/Index.aspx" />
      <!--商家客服用户-->
      <TargetURL UserType="3" TargetURL="http://cw.com/ShopUser/Index.aspx" />
    </LoginTargetURL>
    <!--当前年度节假日集合,每到一个新的年度时记得修改-->
    <VacationDates>
      <![CDATA[
      01-01,
      05-01,05-02,05-03,
      10-01,10-02,10-03,10-04,10-05,10-06,10-07
      ]]>
    </VacationDates>
    <!--UEditor公用的HTML,前端显示时将$[Content]替换成数据库中的内容即可-->
    <UEditorHTML>
      <![CDATA[
      <html>
<head>
    <style type="text/css">
        .view {
            padding: 0;
            word-wrap: break-word;
            cursor: text;
            height:auto;
        }

        body {
            margin: 8px;
            font-family: sans-serif;
            font-size: 16px;
        }

        p {
            margin: 5px 0;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="http://cw.com/_Control/ueditor/themes/iframe.css">
    <style id="tablesort">
        table.sortEnabled tr.firstRow th, table.sortEnabled tr.firstRow td {
            padding-right: 20px;
            background-repeat: no-repeat;
            background-position: center right;
            background-image: url(http://cw.com/_Control/ueditor/themes/default/images/sortable.png);
        }
    </style>
    <style id="table">
        .selectTdClass {
            background-color: #edf5fa !important;
        }

        table.noBorderTable td, table.noBorderTable th, table.noBorderTable caption {
            border: 1px dashed #ddd !important;
        }

        table {
            margin-bottom: 10px;
            border-collapse: collapse;
            display: table;
        }

        td, th {
            padding: 5px 10px;
            border: 1px solid #DDD;
        }

        caption {
            border: 1px dashed #DDD;
            border-bottom: 0;
            padding: 3px;
            text-align: center;
        }

        th {
            border-top: 1px solid #BBB;
            background-color: #F7F7F7;
        }

        table tr.firstRow th {
            border-top-width: 2px;
        }

        .ue-table-interlace-color-single {
            background-color: #fcfcfc;
        }

        .ue-table-interlace-color-double {
            background-color: #f7faff;
        }

        td p {
            margin: 0;
            padding: 0;
        }
    </style>
    <style id="list">
        ol, ul {
            margin: 0;
            pading: 0;
            width: 95%;
        }

        li {
            clear: both;
        }

            li.list-cn-1-0 {
                background-image: url(http://bs.baidu.com/listicon/list-cn-1-0.gif);
            }

            li.list-cn-1-1 {
                background-image: url(http://bs.baidu.com/listicon/list-cn-1-1.gif);
            }

            li.list-cn-1-2 {
                background-image: url(http://bs.baidu.com/listicon/list-cn-1-2.gif);
            }

            li.list-cn-1-3 {
                backg ...rl(http://bs.baidu.com/listicon/list-num-3-98.gif);
            }

        ol.custom_num2 {
            list-style: none;
        }

            ol.custom_num2 li {
                background-position: 0 3px;
                background-repeat: no-repeat;
            }

        li.list-num2-paddingleft-1 {
            padding-left: 35px;
        }

        li.list-num2-paddingleft-2 {
            padding-left: 40px;
        }

        li.list-dash {
            background-image: url(http://bs.baidu.com/listicon/dash.gif);
        }

        ul.custom_dash {
            list-style: none;
        }

            ul.custom_dash li {
                background-position: 0 3px;
                background-repeat: no-repeat;
            }

        li.list-dash-paddingleft {
            padding-left: 35px;
        }

        li.list-dot {
            background-image: url(http://bs.baidu.com/listicon/dot.gif);
        }

        ul.custom_dot {
            list-style: none;
        }

            ul.custom_dot li {
                background-position: 0 3px;
                background-repeat: no-repeat;
            }

        li.list-dot-paddingleft {
            padding-left: 20px;
        }

        .list-paddingleft-1 {
            padding-left: 0;
        }

        .list-paddingleft-2 {
            padding-left: 30px;
        }

        .list-paddingleft-3 {
            padding-left: 60px;
        }
    </style>
    <style id="loading">
        .loadingclass {
            display: inline-block;
            cursor: default;
            background: url('http://cw.com/_Control/ueditor/themes/default/images/loading.gif') no-repeat center center transparent;
            border: 1px solid #cccccc;
            margin-right: 1px;
            height: 22px;
            width: 22px;
        }

        .loaderrorclass {
            display: inline-block;
            cursor: default;
            background: url('http://cw.com/_Control/ueditor/themes/default/images/loaderror.png') no-repeat center center transparent;
            border: 1px solid #cccccc;
            margin-right: 1px;
            height: 22px;
            width: 22px;
        }
    </style>
    <style type="text/css">
        body {
            background-color: #e9edf0;
            background-image:;
            background-repeat: repeat;
            background-position: 0% 0%;
            height: auto;
        }
    </style>
</head>
<body>
$[Content]
</body>
</html>
      ]]>
    </UEditorHTML>
  </Ex>
</Config>