<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="Oracle" connectionString="Data Source=localhost/orcl;User ID=test ;Password=thinker" providerName="System.Data.OracleClient" />
    <add name="MariaDB" connectionString="Server=localhost;Database=test; User=root;Password=myadmin;Max Pool Size=50;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="MariaDB" />
  <log4net>
    <!--,Log4net的配置中,除了必须定义一个ROOT和一个APPENDER外,其他的都是可选的-->
    <root>
      <!--根级别的logger，他是所有logger的祖先-->
      <level value="ALL" />
      <!--记录哪个级别上的日志，从高到低有None,Fatal,ERROR,WARN,DEBUG,INFO,ALL-->
      <appender-ref ref="OracleAppender" />
      <!--rollingFile是根logger的appender要引用的appender名称，一个logger可以引用多个appender将日志同时记录到多个不同的地方-->
    </root>
    <!--
    logger有四个要素:
    logger日志的记录者
    appender提供记录的介质
    layout把记录的内容格式化
    filter筛选记录的内容
    -->
    <appender name="OracleAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data.MySqlClient, Version=6.9.6.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <connectionString value="Server=localhost;Database=test; User=root;Password=myadmin;Max Pool Size=50;" />
      <commandText value="INSERT INTO Sys_Log (Platform,LogTime,Thread,LogLevel,Logger,LogMessage) VALUES (?platform, ?log_date, ?thread, ?log_level, ?logger, ?message)" />
      <parameter>
        <parameterName value="?platform" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="web" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="?log_date" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="?thread" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%t" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="?log_level" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="?logger" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%l" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="?message" />
        <dbType value="String" />
        <size value="10000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m" />
        </layout>
      </parameter>
    </appender>
  </log4net>
</configuration>