<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <DBType>MariaDB</DBType>
  <CompanyName>公司名称</CompanyName>
  <SiteName>文件上传服务</SiteName>
  <DoMain>
    <![CDATA[http://cw.com]]>
  </DoMain>
  <SiteFooterInfo>
    <![CDATA[乐克商城 loc-mall.com ]]>
  </SiteFooterInfo>
  <Email>
    <Host>smtp.ym.163.com</Host>
    <Account>admin@bjfhsc.com</Account>
    <Password>xxx</Password>
    <!--邮件发送模板-->
    <Template>
      <![CDATA[
            <style type='text/css'>
                #divBody {
                width:100%;
                }
                #divSender {
                display:inline-block;
                float:right;
                margin-right:50px;
                text-align:center;
                }

                span {
                display:block;
                margin-top:30px;
                }

                    span:last-child {
                        margin-top: 10px;
                    }
            </style>

            <div id='divBody'>
                <div id='divContent'>$[MailContent]</div>
                <div id='divSender'>
                    <span><a href='$[SiteUrl]'>$[SiteName]</a></span>
                    <span >$[SendTime]</span>
                </div>
            </div>
      ]]>

    </Template>
  </Email>
  <!--热线电话配置路径-->
  <HotLine>400-679-1920</HotLine>
  <!--短信发送接口配置-->
  <SMSAPI>
    <![CDATA[http://sms.pica.com/zqhdServer/sendSMS.jsp?regcode=ZXHD-CRM-0100-RIUVLM&pwd=0252c6&phone=$TOPHONE&content=$CONTENT&extnum=&level=1&schtime=&reportflag=1&url=url&smstype=0]]>
  </SMSAPI>
  <Page>
    <PageSize>20</PageSize>
  </Page>
  <API>
    <IPQuery><![CDATA[http://www.ip.cn/index.php?ip=]]></IPQuery>
  </API>
  <Image>
    <!--图片上传的根路径-->
    <UpLoadPath>
      <![CDATA[~/ImageUpload]]>
    </UpLoadPath>
  </Image>
  <Notify>
    <ExceptionNotifyEmail>123456789@qq.com</ExceptionNotifyEmail>
  </Notify>
  <SystemID><![CDATA[122762c7-dca0-42e2-ad60-b5d32a637e8b]]></SystemID>
  <CacheFilePath><![CDATA[~/CacheFile]]></CacheFilePath>
  <Limit>
    <!--IP白名单,被配置的IP在发送邮件和短信时,不受发送次数的限制-->
    <IPWhiteList>
      <IP>127.0.0.1</IP>
      <IP>127.0.0.2</IP>
      <IP>127.0.0.3</IP>
      <IP>127.0.0.4</IP>
    </IPWhiteList>
    <!--同一IP24小时内可以调用系统发送多少封邮件-->
    <MaxMailSendCount>10</MaxMailSendCount>
    <!--同一IP24小时内可以调用系统发送多少条短信-->
    <MaxSMSSendCount>5</MaxSMSSendCount>
  </Limit>
  <Ex>
    <!--上传的文件的保存到这个根目录下-->
    <FileUploadRootPath><![CDATA[D:\_File\]]></FileUploadRootPath>
    <!--上传文件最大大小,M为单位-->
    <FileMaxSize><![CDATA[100]]></FileMaxSize>
    <!--文件下载服务的Api地址-->
    <FileOutServerURL><![CDATA[http://localhost:7901]]></FileOutServerURL>
  </Ex>
</Config>